VITE_API_URL=https://ai-brain-backend-deploy.onrender.com/api
VITE_SOCKET_URL=https://ai-brain-backend-deploy.onrender.com

VITE_FIREBASE_API_KEY=AIzaSyCW4a7IuFA1_GjDfVskShgy-hqsJ7YJsh8
VITE_FIREBASE_AUTH_DOMAIN=teampulse-7f410.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=teampulse-7f410
VITE_FIREBASE_STORAGE_BUCKET=teampulse-7f410.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=710360379791
VITE_FIREBASE_APP_ID=1:710360379791:web:7a069656c570e52bdddbfa
